@import "jeet"

.HomeContainer
  color #900
  padding 10px
  font-size 1.2rem

  center(90%)

  .icon-box
    col(1/3, cycle: 3)
    +below(400px)
      col(1/2, uncycle: 3, cycle: 2)

    padding 10px
    margin-bottom 10px
    background #FFF
    text-align center

    &.active
      color #F5F5F5
      background #900




